*{
    padding: 0px;
    margin: 0px;
}


/*header*/

.header_block{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) -10%, rgba(217, 217, 217, 0) 69.5%);

}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    margin-top: 38px;
    width: 900px;
    height: 160px
}


.language_box {
    width: 142px;
    display: flex;
    justify-content: space-between;
}

.country_flag{
    width: 24px;
    box-shadow: 0px 0px 15px #111111;
}

.language_name{
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    text-shadow: 0px 0px 12px #111111;
    text-decoration: none;
}

.elements_box{
    display: flex;
    width: fit-content;
}

.header_element{
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    text-shadow: 0px 0px 12px #111111;
    margin-inline: 12px;
}


/*data _block */

.data_block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/first.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.data_container{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}


/*Right side block*/

.right_side{
    margin-top: 13px;
}

.next_event{
    color: black;
    font-size: 30px;
    font-family: "roboto";
    padding-left: 16px;
    padding-right: 16px;
}

.next_event_background{
    background-color: white;
    width: fit-content;
    box-shadow: 0px 0px 15px #4a4a4a;
    margin-bottom: 30px;
}


.info_element{
    display: flex;
    margin-top: 18px;
}

.text_side{
    display: flow-root;
    margin-left: 15px;
    width: 350px;
}

.icon_container{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place_icon{
    width: 38px;
}

.distance_icon{
    width: 46px;
}

.watch_icon{
   width: 30px;
}

.information_pointer{
    color: white;
    font-size: 16px;
    font-family: "roboto";
    text-shadow: 0px 0px 15px #111111;
}

.information_text{
    color: white;
    font-size: 25px;
    font-family: "roboto";
    text-shadow: 0px 0px 15px #111111;
}

/*Buttons block*/
.buttons_container{
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.participate_button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 38px;

    background: linear-gradient(185.09deg, #2BB2FF 4.09%, #FDF426 84.09%);
    box-shadow: 0px 0px 12px #111111;
    border-radius: 6px;
}

.but_arrow{
    height: 14px;
    margin-right: 10px;
}

.button_name{
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-size: 16px;
}

.schedule_button{

    height: 38px;
    margin-top: 12px;
    margin-left: 10px;

}

.schedule_button_name{
    padding-inline: 18px;
    color: white;
    text-shadow: 0px 0px 14px #111111;
    font-family: "Roboto";
    font-size: 16px;
}

/*Left side block*/


.upper_container{
    display: flex;
}

.czech_logo{
    margin-top: 76px;
    margin-left: 18px;
    box-shadow: 0px 0px 5px #111111;
    width: 36px;
}

.title_background{
    background-color: white;
    width: fit-content;
    box-shadow: 0px 0px 15px #4a4a4a;
}

.title_text{
    color: black;
    font-size: 38px;
    font-family: "roboto";
    padding: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

.around_CZ{
    color: white;
    text-shadow: 0px 0px 15px #111111;
    font-size: 35px;
    font-family: "roboto";
    padding-top: 10px;
    padding-left: 25px;
}

.description{
    color: white;
    text-shadow: 1px 1px 5px #111111;
    font-size: 18px;
    font-family: "roboto";
    margin-top: 27px;
    width: 450px;
}


