*{
    padding: 0px;
    margin: 0px;
}

.main_screen_container{
    background-image: url(../images/first.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main_image{
    height: 100%;
}

.data_container{

    display: flex;
    width: 900px;
    padding: 150px;
    padding-top: 100px;
}

.right_side{
    margin-left: 150px;
    margin-top: 63px;
}

.next_event{
    color: black;
    font-size: 30px;
    font-family: "roboto";
    padding-left: 16px;
    padding-right: 16px;
}

.information_text{
        color: white;
    font-size: 18px;
    font-family: "roboto";
    text-shadow: 0px 0px 15px #111111;
}


.upper_container{
    display: flex;
}

.czech_logo{
    margin-top: 76px;
    margin-left: 18px;
    box-shadow: 0px 0px 5px #111111;
    width: 36px;
}

.title_background{
    background-color: white;
    width: fit-content;
    box-shadow: 0px 0px 15px #4a4a4a;
}

.title_text{
    color: black;
    font-size: 38px;
    font-family: "roboto";
    padding: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

.around_CZ{
    color: white;
    text-shadow: 0px 0px 15px #111111;
    font-size: 35px;
    font-family: "roboto";
    padding-top: 10px;
    padding-left: 25px;
}

.description{
    color: white;
    text-shadow: 1px 1px 5px #111111;
    font-size: 18px;
    font-family: "roboto";
    margin-top: 27px;
    width: 450px;
}


